.link {
  display: inline-block;
  background-color: var(--yellow);
  border-radius: 0.5rem;
  border: 0;
  color: var(--coal);
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 250ms ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--yellow-dark);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;

    &:hover {
      background-color: var(--yellow);
    }
  }

  &--back {
    margin-bottom: 1rem;
  }

  &--outline {
    background-color: transparent;
    border: 0;
    color: var(--yellow);
    transition:
      background-color 250ms ease-in-out,
      color 250ms ease-in-out;

    &:hover {
      background-color: var(--yellow);
      color: var(--coal);
    }
  }

  &--icon {
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
    justify-content: center;
  }
}
