.tooltip {
  background-color: var(--coal);
  border-radius: 0.5rem;
  border: 4px solid var(--charcoal);
  color: var(--beige);
  font-size: 0.75rem;
  height: max-content;
  padding: 0 1rem;
  text-align: center;
}
